FRED: https://fred.stlouisfed.org/series/T10Y3M

python FRED API: 
https://mortada.net/python-api-for-fred.html

In [1]:
!sudo pip install fredapi

The directory '/home/du/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/du/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting fredapi
  Downloading https://files.pythonhosted.org/packages/3f/6b/c6652a9d71966bf071247289f80e5ee330b154aecb43d01eee61e0a4a8e2/fredapi-0.4.1.tar.gz
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from fredapi) (0.23.4)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (1.15.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (2.7.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->fredapi) (2018.7)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.5.0->pandas->fredapi) (1.11.0)
Installing collected packages: fredapi
  Running setup.py install for fredapi ... done
Successfully installed fredapi-0.4.1

In [30]:
from fredapi import Fred
fred = Fred()

In [4]:
s = fred.get_series('SP500', observation_start='2014-09-02', observation_end='2014-09-05')
s.tail()

2014-09-02    2002.28
2014-09-03    2000.72
2014-09-04    1997.65
2014-09-05    2007.71
dtype: float64

In [10]:
s = fred.get_series('SP500')
print(s.shape)
print(s.tail(),s.head())

(2608,)
2018-12-20    2467.42
2018-12-21    2416.62
2018-12-24    2351.10
2018-12-25        NaN
2018-12-26    2467.70
dtype: float64 2008-12-29    869.42
2008-12-30    890.64
2008-12-31    903.25
2009-01-01       NaN
2009-01-02    931.80
dtype: float64

In [11]:
s.head(30)

2008-12-29    869.42
2008-12-30    890.64
2008-12-31    903.25
2009-01-01       NaN
2009-01-02    931.80
2009-01-05    927.45
2009-01-06    934.70
2009-01-07    906.65
2009-01-08    909.73
2009-01-09    890.35
2009-01-12    870.26
2009-01-13    871.79
2009-01-14    842.62
2009-01-15    843.74
2009-01-16    850.12
2009-01-19       NaN
2009-01-20    805.22
2009-01-21    840.24
2009-01-22    827.50
2009-01-23    831.95
2009-01-26    836.57
2009-01-27    845.71
2009-01-28    874.09
2009-01-29    845.14
2009-01-30    825.88
2009-02-02    825.44
2009-02-03    838.51
2009-02-04    832.23
2009-02-05    845.85
2009-02-06    868.60
dtype: float64

In [22]:
import pandas as pd

s1=s.head(30).to_frame(name='sp500')
s2=s1.head(20)
s3=s1.tail(15)
s4=pd.concat([s2,s3])
s4=s4[~s4.index.duplicated(keep='first')]
s4.equals(s1)

True

In [23]:
s3.columns=['sp']

In [28]:
s5=pd.merge(s2,s3, how='outer', left_index=True, right_index=True)
s5

             sp500      sp
2008-12-29  869.42     NaN
2008-12-30  890.64     NaN
2008-12-31  903.25     NaN
2009-01-01     NaN     NaN
2009-01-02  931.80     NaN
2009-01-05  927.45     NaN
2009-01-06  934.70     NaN
2009-01-07  906.65     NaN
2009-01-08  909.73     NaN
2009-01-09  890.35     NaN
2009-01-12  870.26     NaN
2009-01-13  871.79     NaN
2009-01-14  842.62     NaN
2009-01-15  843.74     NaN
2009-01-16  850.12     NaN
2009-01-19     NaN     NaN
2009-01-20  805.22  805.22
2009-01-21  840.24  840.24
2009-01-22  827.50  827.50
2009-01-23  831.95  831.95
2009-01-26     NaN  836.57
2009-01-27     NaN  845.71
2009-01-28     NaN  874.09
2009-01-29     NaN  845.14
2009-01-30     NaN  825.88
2009-02-02     NaN  825.44
2009-02-03     NaN  838.51
2009-02-04     NaN  832.23
2009-02-05     NaN  845.85
2009-02-06     NaN  868.60