In [3]:
from scipy.stats import t as t_test
import statistics as stat

In [4]:
def t_test_1sample(data_list, u0, print_out=True):
    # Test if the data has the same mean of u0
    mean=stat.mean(data_list)
    stdev=stat.stdev(data_list)

    t=(mean-u0)/stdev*(len(data_list)**.5)

    df=len(data_list)-1
    p=(1-t_test.cdf(abs(t),df))*2
    
    t_0025=t_test.ppf(0.025,df)
    t_0975=t_test.ppf(0.975,df)
    
    u0_95range=(mean-t_0975*stdev/(len(data_list)**.5),mean-t_0025*stdev/(len(data_list)**.5))

    # Here P is two tailed test, for one tailed test 1/2
    if print_out:
        print("mean = %.2f"%mean)
        print("stdev = %.2f"%stdev)
        print("t = %.2f"%t)
        print("df = %.2f"%df)
        print("Two-tailed test p=%.2f"%p)
        print("%%95 range of population mean which the samples came from: (%.2f, %.2f)"%u0_95range)
    return {"t":t,"p":p,"df":df,"mean":mean,"stdev":stdev,"u0_95range":u0_95range}

def paired_t_test(l1,l2,print_out=True):
    diff=[i-j for i,j in zip(l1,l2)]
    res=t_test_1sample(diff,0,print_out=False)
    if print_out:
        print("Paired difference:")
        print("   mean = %.2f"%res["mean"])
        print("   stdev = %.2f"%res["stdev"])
        print("   t = %.2f"%res["t"])
        print("   df = %.2f"%res["df"])
        print("   Two-tailed test p=%.2f"%res["p"])
        print("   %%95 range of the difference's mean: (%.2f, %.2f)"%res["u0_95range"])
    return res

In [5]:
list1 = [1, 2, 3, 1, 2, 3, 12, 2, 2, 1, 3, 2]
list2 = [2, 3, 2, 2, 3, 2, 12, 2, 3, 2, 1, 2]

paired_t_test(list1,list2)

Paired difference:
   mean = -0.17
   stdev = 1.03
   t = -0.56
   df = 11.00
   Two-tailed test p=0.59
   %95 range of the difference's mean: (-0.82, 0.49)

{'t': -0.5606119105813879,
 'p': 0.5862993069206741,
 'df': 11,
 'mean': -0.16666666666666666,
 'stdev': 1.0298573010888745,
 'u0_95range': (-0.8210067780520978, 0.4876734447187645)}

In [50]:
t_test_1sample([1,2,3,4,5,6,7,8,9,10],3.3333)

mean = 5.50
stdev = 3.03
t = 2.26
df = 9.00
Two-tailed test p=0.05
%95 range of population mean which the samples came from: (3.33, 7.67)

{'t': 2.263044342955263,
 'p': 0.049927548095949126,
 'df': 9,
 'mean': 5.5,
 'stdev': 3.0276503540974917,
 'u0_95range': (3.3341494103866087, 7.665850589613392)}

In [51]:
numbers = [37, 42, 39, 35, 35, 35, 39, 41, 43, 42, 41, 39, 44, 43, 42, 42, 38, 41, 41, 42, 38, 42, 42, 42, 43, 39, 41, 42, 42, 32, 38, 38, 42, 47, 40, 38, 39, 36, 39, 42, 37, 33, 45, 40, 44, 38, 38, 42, 41, 39, 38, 34, 35, 37, 41, 34, 32, 34, 35, 41, 42, 40, 42, 43, 45, 39, 39, 39, 33, 36, 36, 34, 37, 36, 39, 37, 41, 36, 38, 38, 38, 42, 38, 37, 39, 38, 41, 39, 42, 37, 39, 39, 35, 36, 37, 37, 40, 42, 32, 37, 35, 36, 39, 39, 36, 36, 40, 35, 34, 34, 35, 35, 35, 37, 37, 37]
t_test_1sample(numbers,40)

mean = 38.59
stdev = 3.13
t = -4.86
df = 115.00
Two-tailed test p=0.00
%95 range of population mean which the samples came from: (38.01, 39.16)

{'t': -4.8616386142837085,
 'p': 3.7207722420884437e-06,
 'df': 115,
 'mean': 38.58620689655172,
 'stdev': 3.1320751990451576,
 'u0_95range': (38.01017641320989, 39.162237379893554)}

In [31]:
# Assumptions:
#   Pooled t-test assumes equal population variances between the two groups.
#   Unpooled t-test (Welch's t-test) does not assume equal population variances.
# Degrees of freedom (df) calculation:
#   Pooled t-test: df = n1 + n2 - 2
#   Unpooled t-test: Uses a more complex formula (Welch–Satterthwaite equation) 
#   that typically results in non-integer df.
#        df = (s1^2/n1 + s2^2/n2)^2 / [(s1^2/n1)^2/(n1-1) + (s2^2/n2)^2/(n2-1)]
# Variance estimation:
#   Pooled t-test uses a weighted average of the two sample variances (pooled variance).
#   Unpooled t-test uses separate variance estimates for each group.
# Applicability:
#   Pooled t-test is more appropriate when variances are truly equal or sample sizes are equal.
#   Unpooled t-test is more robust and generally recommended when unsure about variance equality.


def t_test_2samples(l1,l2,print_out=True):
    u1=stat.mean(l1)
    u2=stat.mean(l2)
    s1=stat.stdev(l1)
    s2=stat.stdev(l2)
    n1=len(l1)
    n2=len(l2)
    # t = (x̄₁ - x̄₂) / √((s₁²/n₁) + (s₂²/n₂))
    # df = (s1^2/n1 + s2^2/n2)^2 / [(s1^2/n1)^2/(n1-1) + (s2^2/n2)^2/(n2-1)]
    t=(u1-u2)/(s1*s1/n1+s2*s2/n2)**.5
    df=(s1*s1/n1+s2*s2/n2)**2/((s1*s1/n1)**2/(n1-1)+(s2*s2/n2)**2/(n2-1))
    p=(1-t_test.cdf(abs(t),df))*2
    # Here P is two tailed test, for one tailed test 1/2
    if print_out:
        print("u1 = %.2f\ts1 = %.2f\tn1 = %d"%(u1,s1,n1))
        print("u2 = %.2f\ts2 = %.2f\tn2 = %d"%(u2,s2,n2))
        print("t = %.2f"%t)
        print("df = %.2f"%df)
        print("Two-tailed unpooled test p=%.2f"%p)
    return {"t":t,"p":p,"df":df,"u1":u1,"u2":u2,"s1":s1,"s2":s2,"n1":n1,"n2":n2}

In [32]:
females = [95, 123, 74, 145, 64, 112, 107, 67, 81, 91, 142, 84, 85, 92, 112, 112, 115, 116]
males = [84, 128, 79, 98, 105, 95, 79, 93, 99, 119, 92, 112, 99, 113, 128, 111, 105, 104, 106, 128, 134, 172]

t_test_2samples(females,males)

u1 = 100.94	s1 = 23.44	n1 = 18
u2 = 108.32	s2 = 21.10	n2 = 22
t = -1.04
df = 34.68
Two-tailed unpooled test p=0.31

{'t': -1.0350868507284576,
 'p': 0.30779289334506643,
 'df': 34.678156799282156,
 'u1': 100.94444444444444,
 'u2': 108.31818181818181,
 's1': 23.435699821933863,
 's2': 21.09928088062846,
 'n1': 18,
 'n2': 22}

In [33]:
from scipy.stats import ttest_ind
ttest_ind(females,males)

TtestResult(statistic=-1.0462661520484353, pvalue=0.3020480036222858, df=38.0)

Here's a step-by-step guide on how to calculate a one-way ANOVA by hand:

1. Calculate the group means and overall mean:
   - Find the mean for each group
   - Calculate the overall mean across all groups

2. Calculate the Sum of Squares Between Groups (SSB):
   SSB = Σ(n_j * (X̄_j - X̄)^2)
   Where:
   - n_j is the sample size of each group
   - X̄_j is the mean of each group
   - X̄ is the overall mean

3. Calculate the Sum of Squares Within Groups (SSW):
   SSW = Σ(X_ij - X̄_j)^2
   Where:
   - X_ij is each individual score
   - X̄_j is the mean of the group that score belongs to

4. Calculate the Sum of Squares Total (SST):
   SST = SSB + SSW

5. Calculate the degrees of freedom:
   - df_between = k - 1 (where k is the number of groups)
   - df_within = N - k (where N is the total sample size)
   - df_total = N - 1

6. Calculate the Mean Square Between (MSB) and Mean Square Within (MSW):
   MSB = SSB / df_between
   MSW = SSW / df_within

7. Calculate the F-ratio:
   F = MSB / MSW

8. Compare the calculated F-ratio to the critical F-value from an F-distribution table using the appropriate degrees of freedom and significance level to determine if the result is statistically significant[1][3].

This process involves several calculations and can be time-consuming when done by hand. It's important to be careful with each step to avoid errors. Many researchers now use statistical software to perform ANOVA calculations, but understanding the manual process helps in grasping the underlying concepts of the analysis[1][2][3].

Citations:
[1] https://www.statology.org/one-way-anova-by-hand/
[2] https://www.youtube.com/watch?v=pNMUlsjgNNM
[3] https://www.youtube.com/watch?v=ZQEmSzrmBJc
[4] https://www.geeksforgeeks.org/anova-formula/
[5] https://www.palomar.edu/users/rmorrissette/Lectures/Stats/OneWayANOVA/OneWayANOVA.htm

In [34]:
import statistics as stat
import numpy as np
from scipy.stats import f as f_dist

def one_way_anova(dict_data, print_out=True):
    # data come in as a dict
    # e.g. dict_data={"A":[2,1,3],"B":[3,4]}
    groups=list(dict_data.keys())
    k=len(groups)
    ns=[len(dict_data[key]) for key in groups]
    N=sum(ns)
    means=[stat.mean(dict_data[key]) for key in groups]
    mean=np.concatenate(list(dict_data.values())).mean()
#    SSB = Σ(n_j * (X̄_j - X̄)^2)
    SSB=sum([n*(x-mean)**2 for n,x in zip(ns,means)])
#        SSW = Σ(X_ij - X̄_j)^2
    SSW=sum([sum([(v-means[i])**2
        for v in dict_data[groups[i]]])
        for i in range(k)])
    SST=SSB+SSW
    
    df_between = k - 1
    df_within = N - k
#     df_total=N-1

    MSB = SSB / df_between
    MSW = SSW / df_within
    F = MSB / MSW
    
    p=1-f_dist.cdf(F,df_between,df_within)
    
    if print_out:
        print("F = %.2f"%F)
        print("p = %.2f"%p)

    return {"F":F,"p":p}

In [35]:
data_by_size = {
    'small': [31.0, 153.0, 454.0, 333.3, 41.4, -680.4, 89.0, -119.7, 79.5, 227.4, 86.5, 20.9, 0.3, 47.7, 60.8, 118.3],
    'medium': [939.5, 1495.4, 252.8, 471.3, 176.0, -424.3, 412.7],
    'big': [859.8, 1102.2, 747.0, 829.0, 1082.0, 412.0, 681.1, -639.3, 3758.0]
}
one_way_anova(data_by_size)

F = 5.14
p = 0.01

{'F': 5.138920138474558, 'p': 0.012292232701970107}

In [36]:
data_by_letter = {
    'a': [1, 2, 2, 1, 1],
    'b': [1, 2, 1, 2, 3, 2],
    'c': [1, 2, 3, 2, 1, 2, 1],
    'd': [2, 2, 2, 1, 1, 1],
    'e': [2, 2, 3, 1, 2, 1],
    'f': [2, 1, 2, 2, 2, 1],
    'g': [-1, -1, 1, 1, 0]
}
one_way_anova(data_by_letter)
# for l in data_by_letter.values():
#     print(l)

F = 4.32
p = 0.00

{'F': 4.322823219891916, 'p': 0.0024133712342139235}

In [37]:
# The means compare each pair in JMP uses pooled t-test
# while the pool includes all the keys, not only the two keys under testing
# If using unpooled t-test the p-value will be bigger than this "fully" pooled test

# The total pooled variance is (Sum of [(ni - 1) × si²]) / (N - k)
#     Where:
#     ni is the sample size of each group
#     si² is the variance of each group
#     N is the total sample size across all keys
#     k is the number of keys

# The standard error (SE) is calculated as:
# SE = sqrt(Sp_squared * (1/n1 + 1/n2))

# The t-statistic (t) is calculated as:
# t = (X1_bar - X2_bar) / SE

# in JMP, df is N-1 the total sample number not only the two keys


def JMP_ANOVA_t_test(dict_data, print_out=True):
    # data come in as a dict
    # e.g. dict_data={"A":[2,1,3],"B":[3,4]}
    
    keys=list(dict_data.keys())
    k=len(keys)
    ns=[len(dict_data[key]) for key in keys]
    N=sum(ns)
    df=N-1
    means=[(stat.mean(dict_data[keys[i]]),i) for i in range(k)]

    pooled_variance =sum([stat.stdev(l)**2*(len(l)-1) 
                         for l in dict_data.values()])/(N-k)
    
    def t_test_anova(l1,l2,print_out=False):
        u1=stat.mean(l1)
        u2=stat.mean(l2)
        s1=stat.stdev(l1)
        s2=stat.stdev(l2)
        n1=len(l1)
        n2=len(l2)

        SE=( pooled_variance * (1/n1 + 1/n2))**.5
        t= (u1 - u2)/SE
        t=t if t>0 else -t
        p=(1-t_test.cdf(t,df))*2
        if print_out:
            print("SE=%.3f t=%.3f p=%.3f"%(SE,t,p))
        return {"t":t,"p":p,"SE":SE}

    ps=np.ones((k,k))
    for a in range(k):
        for b in range(a+1,k):
            res = t_test_anova(
                dict_data[keys[a]],dict_data[keys[b]])
            ps[a][b]=ps[b][a]=res["p"]
            if print_out:
                print("t-test means",keys[a],keys[b],"\tp = %.2f"%ps[a][b])
                
    means.sort(key=lambda x:x[0])
    means=means[::-1]
    groups=[]
    start=0
    while start<k:
        cmp=start_i=means[start][1]
        new_grp=[start_i]
        one_step=new_start=start+1
        # First add the mean right below the starting point
        if one_step<k:
            one_step_i=means[one_step][1]
            if ps[one_step_i][cmp]>0.05:
                new_grp.append(one_step_i)
                cmp=one_step_i
                # Switch the comparing point to the newly added group
                # start to added the means above the starting point with 
                # the new cmp point
                for p in range(start-1,-1,-1):
                    pi=means[p][1]
                    if ps[pi][cmp]>0.05:
                        new_grp.append(pi)
                    else:
                        break
                if cmp==new_grp[-1]: # add no new points
                    cmp=start_i      # go back start point to compare downwards
                else:
                    cmp=new_grp[-1]  # new the highest point to compare downwards

                for nxt in range(start+2,k):
                    nxt_i=means[nxt][1]
                    if ps[nxt_i][cmp]>0.05:
                        new_grp.append(nxt_i)
                        new_start=nxt
                    else:
                        break
        if len(new_grp)>1 or len(groups)==0:
            groups.append(new_grp)
        else:
            if not start_i in groups[-1]:
                groups.append(new_grp)
        start=new_start
        
    if print_out:
        print("")
        for i in range(k):
            key_i=means[i][1]
            for grp in groups:
                if key_i in grp:
                    print("X",end=" ")
                else:
                    print(" ",end=" ")
            print(" ",keys[key_i],"\tmean = %.2f"%means[i][0])
                
    return {"p":ps,"keys":keys,"groups":groups}

In [38]:
JMP_ANOVA_t_test(data_by_size)

t-test means small medium 	p = 0.20
t-test means small big 	p = 0.00
t-test means medium big 	p = 0.16

X     big 	mean = 981.31
X X   medium 	mean = 474.77
  X   small 	mean = 58.94

{'p': array([[1.        , 0.19526782, 0.00321937],
        [0.19526782, 1.        , 0.15710672],
        [0.00321937, 0.15710672, 1.        ]]),
 'keys': ['small', 'medium', 'big'],
 'groups': [[2, 1], [1, 0]]}

In [39]:
JMP_ANOVA_t_test(data_by_letter)

t-test means a b 	p = 0.32
t-test means a c 	p = 0.45
t-test means a d 	p = 0.82
t-test means a e 	p = 0.32
t-test means a f 	p = 0.54
t-test means a g 	p = 0.00
t-test means b c 	p = 0.76
t-test means b d 	p = 0.42
t-test means b e 	p = 1.00
t-test means b f 	p = 0.69
t-test means b g 	p = 0.00
t-test means c d 	p = 0.59
t-test means c e 	p = 0.76
t-test means c f 	p = 0.90
t-test means c g 	p = 0.00
t-test means d e 	p = 0.42
t-test means d f 	p = 0.69
t-test means d g 	p = 0.00
t-test means e f 	p = 0.69
t-test means e g 	p = 0.00
t-test means f g 	p = 0.00

X     e 	mean = 1.83
X     b 	mean = 1.83
X     c 	mean = 1.71
X     f 	mean = 1.67
X     d 	mean = 1.50
X     a 	mean = 1.40
  X   g 	mean = 0.00

{'p': array([[1.00000000e+00, 3.19398207e-01, 4.53949474e-01, 8.17202959e-01,
         3.19398207e-01, 5.38476012e-01, 3.36140115e-03],
        [3.19398207e-01, 1.00000000e+00, 7.64613419e-01, 4.20789347e-01,
         1.00000000e+00, 6.86386727e-01, 1.18471663e-04],
        [4.53949474e-01, 7.64613419e-01, 1.00000000e+00, 5.90377267e-01,
         7.64613419e-01, 9.04619224e-01, 1.82232446e-04],
        [8.17202959e-01, 4.20789347e-01, 5.90377267e-01, 1.00000000e+00,
         4.20789347e-01, 6.86386727e-01, 1.19108490e-03],
        [3.19398207e-01, 1.00000000e+00, 7.64613419e-01, 4.20789347e-01,
         1.00000000e+00, 6.86386727e-01, 1.18471663e-04],
        [5.38476012e-01, 6.86386727e-01, 9.04619224e-01, 6.86386727e-01,
         6.86386727e-01, 1.00000000e+00, 3.83422684e-04],
        [3.36140115e-03, 1.18471663e-04, 1.82232446e-04, 1.19108490e-03,
         1.18471663e-04, 3.83422684e-04, 1.00000000e+00]]),
 'keys': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 'groups': [[4, 1, 2, 5, 3, 0], [6]]}

In [40]:
data_dict = {
    'a': [1, 2, 2, 1, 1],
    'b': [1, 2, 1, 2, 3, 2],
    'c': [1, 2, 3, 2, 4, 3, 4],
    'd': [5, 4, 3, 4, 3, 2],
    'e': [3, 4, 3, 2, 4, 5],
    'f': [2, 1, 2, 2, 3, 1],
    'g': [1, 1, 0, 1, 0]
}
JMP_ANOVA_t_test(data_dict)

t-test means a b 	p = 0.42
t-test means a c 	p = 0.01
t-test means a d 	p = 0.00
t-test means a e 	p = 0.00
t-test means a f 	p = 0.42
t-test means a g 	p = 0.16
t-test means b c 	p = 0.08
t-test means b d 	p = 0.00
t-test means b e 	p = 0.00
t-test means b f 	p = 1.00
t-test means b g 	p = 0.03
t-test means c d 	p = 0.12
t-test means c e 	p = 0.12
t-test means c f 	p = 0.08
t-test means c g 	p = 0.00
t-test means d e 	p = 1.00
t-test means d f 	p = 0.00
t-test means d g 	p = 0.00
t-test means e f 	p = 0.00
t-test means e g 	p = 0.00
t-test means f g 	p = 0.03

X         e 	mean = 3.50
X         d 	mean = 3.50
X X       c 	mean = 2.71
  X X     f 	mean = 1.83
  X X     b 	mean = 1.83
    X X   a 	mean = 1.40
      X   g 	mean = 0.60

{'p': array([[1.00000000e+00, 4.22354771e-01, 1.49749962e-02, 3.29488316e-04,
         3.29488316e-04, 4.22354771e-01, 1.59656657e-01],
        [4.22354771e-01, 1.00000000e+00, 8.04159143e-02, 2.21584962e-03,
         2.21584962e-03, 1.00000000e+00, 2.62958965e-02],
        [1.49749962e-02, 8.04159143e-02, 1.00000000e+00, 1.17506740e-01,
         1.17506740e-01, 8.04159143e-02, 2.02342244e-04],
        [3.29488316e-04, 2.21584962e-03, 1.17506740e-01, 1.00000000e+00,
         1.00000000e+00, 2.21584962e-03, 3.02918045e-06],
        [3.29488316e-04, 2.21584962e-03, 1.17506740e-01, 1.00000000e+00,
         1.00000000e+00, 2.21584962e-03, 3.02918045e-06],
        [4.22354771e-01, 1.00000000e+00, 8.04159143e-02, 2.21584962e-03,
         2.21584962e-03, 1.00000000e+00, 2.62958965e-02],
        [1.59656657e-01, 2.62958965e-02, 2.02342244e-04, 3.02918045e-06,
         3.02918045e-06, 2.62958965e-02, 1.00000000e+00]]),
 'keys': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 'groups': [[4, 3, 2], [2, 5, 1], [1, 0, 5], [0, 6]]}

In [107]:
#     grouping=np.ones((k,k))
#     for grp in range(k): # the one must in the group
#         for DUT in range(k):
#             if ps[DUT][grp]<=0.05:
#                 grouping[grp][DUT]=0
#         for DUT in range(k):
#             if DUT==grp or grouping[grp][DUT]==0:
#                 continue
#             for tester in range(k):
#                 if grouping[grp][tester]==0:
#                     continue
#                     # C is not in group A, skip comparing
#                 if ps[tester][DUT]<=0.05:
#                     grouping[grp][DUT]=0
#                     break
#                     # B doesn't work with C, remove B
#     for grp1 in range(k):
#         for grp2 in range(grp1+1,k):
#             if list(grouping[grp1])==list(grouping[grp2]):
#                 grouping[grp1][0]=-1

a=[(2,2),(3,2),(1,3)]
a.sort(key=lambda x:x[0])
a
b=[[1,2],[2,3,2]]
b.append([3,2,1,3])
b
for i in range(2,-1,-1):
    print(i)

2
1
0

In [15]:
from scipy.stats import norm

def z_test_1sample(data_list, u0, s0, sample_mean=None, sample_n=None, print_out=True):
    if sample_mean is None or sample_n is None:
        mean=stat.mean(data_list)
        n=len(data_list)
    else:
        n=sample_n
        mean=sample_mean

    deno = s0/(n**.5)
    z = (mean-u0)/deno
    p = 2*(1-norm.cdf(abs(z)))
    
    df=n-1

    # Here P is two tailed test, for one tailed test 1/2
    if print_out:
        print("mean = %.2f"%mean)
        print("z = %.2f"%z)
        print("df = %.2f"%df)
        print("Two-tailed test p=%.2f"%p)
    return {"z":z,"p":p,"df":df,"mean":mean}

In [16]:
z_test_1sample([1,2,3,4,5,6,7,8,9,10],3,3)

mean = 5.50
z = 2.64
df = 9.00
Two-tailed test p=0.01

{'z': 2.6352313834736494, 'p': 0.008407994577249278, 'df': 9, 'mean': 5.5}

In [52]:
z_test_1sample(None,252,0.9,sample_n=20,sample_mean=251.52)

mean = 251.52
z = -2.39
df = 19.00
Two-tailed test p=0.02

{'z': -2.3851391759997247, 'p': 0.017072661093790797, 'df': 19, 'mean': 251.52}

In [23]:
z_test_1sample([82, 89, 81, 90, 84, 83, 88, 80, 85, 90],82,4)

mean = 85.20
z = 2.53
df = 9.00
Two-tailed test p=0.01

{'z': 2.5298221281347057, 'p': 0.011412036386001523, 'df': 9, 'mean': 85.2}