In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
import pickle

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
df = pickle.load(open("MMM.p", "rb"))                                        
                                                                             
print df.head()

                Open      High       Low     Close  Adj Close   Volume
Date
1990-01-02  19.84375  20.15625  19.78125  20.12500   9.334455  1496000
1990-01-03  20.15625  20.46875  20.12500  20.34375   9.435915  2631600
1990-01-04  20.21875  20.75000  20.21875  20.50000   9.508387  2538400
1990-01-05  20.40625  20.50000  20.15625  20.15625   9.348946  1825600
1990-01-08  20.12500  20.71875  20.12500  20.68750   9.595356  2164400

In [ ]:
# Calculate moving average lines
df['100ma']=df['Adj Close'].rolling(window=100,min_periods=0).mean()
df['5ma']=df['Adj Close'].rolling(window=5,min_periods=0).mean()
df['10ma']=df['Adj Close'].rolling(window=10,min_periods=0).mean()
df['20ma']=df['Adj Close'].rolling(window=20,min_periods=0).mean()
df['50ma']=df['Adj Close'].rolling(window=50,min_periods=0).mean()

In [ ]:
print df['10ma'].head()

In [41]:
import bz2
with bz2.BZ2File("data/SPY.p.bz2", "r") as pfile_handle:
    data = pickle.load(pfile_handle)

    #data_set = read_data("data/spy.p.bz2")
print(data.shape)
print(data)

(115642, 5)
                     1. open   2. high  3. low  4. close  5. volume
date
2020-02-07 09:35:00   332.82  333.0000  332.01  332.0800  3472208.0
2020-02-07 09:40:00   332.08  332.8107  331.96  332.5400  1221997.0
2020-02-07 09:45:00   332.53  332.6100  332.23  332.3600   701466.0
2020-02-07 09:50:00   332.35  332.6200  332.16  332.6100   570401.0
2020-02-07 09:55:00   332.61  332.8300  332.54  332.7700   464389.0
...                      ...       ...     ...       ...        ...
2022-09-30 19:40:00   357.80  357.9000  357.80  357.8500     1558.0
2022-09-30 19:45:00   357.90  357.9000  357.81  357.8400     2574.0
2022-09-30 19:50:00   357.82  357.8500  357.82  357.8400     1861.0
2022-09-30 19:55:00   357.86  357.9000  357.83  357.8701     2677.0
2022-09-30 20:00:00   357.88  357.9700  357.85  357.8800     7095.0

[115642 rows x 5 columns]

In [14]:
data.index
data.columns
data.dtypes

1. open      float64
2. high      float64
3. low       float64
4. close     float64
5. volume    float64
dtype: object

In [15]:
data.info

<bound method DataFrame.info of                       1. open   2. high  3. low  4. close  5. volume
date
2018-12-04 09:35:00  278.3800  278.7900  278.23    278.28  3140850.0
2018-12-04 09:40:00  278.3100  278.8500  278.25    278.66  1139129.0
2018-12-04 09:45:00  278.6507  278.7650  278.03    278.04  1210424.0
2018-12-04 09:50:00  278.0100  278.2300  277.80    277.96  1214156.0
2018-12-04 09:55:00  277.9600  278.0500  277.35    277.56  2375012.0
...                       ...       ...     ...       ...        ...
2019-09-12 15:40:00  301.9300  302.0100  301.92    301.92   769807.0
2019-09-12 15:45:00  301.9201  301.9201  301.68    301.80   909493.0
2019-09-12 15:50:00  301.8116  301.8900  301.59    301.61  1419613.0
2019-09-12 15:55:00  301.5900  301.6500  301.55    301.65  2026258.0
2019-09-12 16:00:00  301.6400  301.6600  301.15    301.27  2929874.0

[15000 rows x 5 columns]>

In [33]:
data[["2018-12-06" in _ for _ in data.index]]

                      1. open  2. high  3. low  4. close  5. volume
date
2018-12-06 09:35:00  265.9200   266.22  265.13    266.09  8641302.0
2018-12-06 09:40:00  266.1011   267.13  265.96    267.05  3513860.0
2018-12-06 09:45:00  267.0600   267.06  266.39    266.72  2812788.0
2018-12-06 09:50:00  266.7500   266.99  265.92    265.99  2871757.0
2018-12-06 09:55:00  265.9500   266.06  264.68    264.70  3225076.0
...                       ...      ...     ...       ...        ...
2018-12-06 15:40:00  268.4700   268.72  268.30    268.57  2517921.0
2018-12-06 15:45:00  268.5400   268.93  268.05    268.86  2990647.0
2018-12-06 15:50:00  268.8600   269.56  268.76    269.48  4573645.0
2018-12-06 15:55:00  269.4700   269.79  269.26    269.59  7969420.0
2018-12-06 16:00:00  269.5900   269.94  269.45    269.94  8672526.0

[78 rows x 5 columns]

In [ ]:
d=data[["2018-12-06" in _ for _ in data.index]]['4. close'][-1]
print(d)

In [ ]:
date_set=set()
for i in data.index:
    date_set.add(str(i).split()[0])
print(sorted(list(date_set)))

In [ ]:
len(date_set)

In [ ]:
print(1)